# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Generated Data
# =========================
# data/

# OR use these if you want to keep the folder structure
# data/uploads/*
# data/figures/*
# data/reports/*


# =========================
# Reports
# =========================
# *.docx
# *.pdf

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/